NODERED/flows.json
[
    {
        "id": "caa73d58d120a32a",
        "type": "tab",
        "label": "SunShare Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3279b154c4c0a9ba",
        "type": "mqtt in",
        "z": "caa73d58d120a32a",
        "name": "ESP32 HiveMQ",
        "topic": "sunshare/iot/clima",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 85,
        "y": 200,
        "wires": [
            [
                "b67b1bfa1da985e2",
                "fdf5d029222aa10a"
            ]
        ],
        "l": false
    },
    {
        "id": "b67b1bfa1da985e2",
        "type": "function",
        "z": "caa73d58d120a32a",
        "name": "Creditos e consumo ficticio",
        "func": "const payload = JSON.parse(msg.payload);\nconst temperatura = payload.temperatura;\nconst umidade = payload.umidade;\nconst luminosidade = payload.luminosidade;\nconst previsao_solar = payload.previsao_solar;\nconst consumo = Math.floor(Math.random() * 500) + 100; // gerando dado ficticio aleatorio\nconst credito = previsao_solar - consumo;\n\nmsg.payload = {temperatura, umidade, luminosidade, previsao_solar, consumo, credito};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "3a628ffa2956787a",
                "0b126bfe444885b3",
                "214fbf7562ce0ff5"
            ]
        ]
    },
    {
        "id": "a8911124e52f4e4d",
        "type": "ui_chart",
        "z": "caa73d58d120a32a",
        "name": "Grafico de geracao",
        "group": "25b8c80daaeb47e1",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Geração x Consumo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "Sem Dados",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "0",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00b500",
            "#ca3838",
            "#444444",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0b126bfe444885b3",
        "type": "ui_text",
        "z": "caa73d58d120a32a",
        "group": "25b8c80daaeb47e1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Creditos",
        "label": "Creditos: {{msg.payload.credito}} kWh",
        "format": "{{msg.payload.credito}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "fdf5d029222aa10a",
        "type": "debug",
        "z": "caa73d58d120a32a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "3a628ffa2956787a",
        "type": "debug",
        "z": "caa73d58d120a32a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "214fbf7562ce0ff5",
        "type": "function",
        "z": "caa73d58d120a32a",
        "name": "Infos Graficos",
        "func": "msg.payload = msg.payload.previsao_solar;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "3dcc238795df5f10",
                "a8911124e52f4e4d"
            ]
        ]
    },
    {
        "id": "3dcc238795df5f10",
        "type": "debug",
        "z": "caa73d58d120a32a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "120"
    },
    {
        "id": "25b8c80daaeb47e1",
        "type": "ui_group",
        "name": "SunShare",
        "tab": "040a3a2174ef593a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "040a3a2174ef593a",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]